version: "3.8"

services:
  mongodb:
    image: mongo:latest
    container_name: chat_mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    networks:
      - chat_network

  redis:
    image: redis:alpine
    container_name: chat_redis
    ports:
      - "6379:6379"
    networks:
      - chat_network

volumes:
  mongodb_data:

networks:
  chat_network:
    driver: bridge
